<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Mermaid JS Viewer</title>
</head>
<body>
    <div class="container">
        <div class="inputs">
            <textarea class="prism-live language-javascript" name="code" id="codeInput" placeholder="Enter your mermaid.js code here!"></textarea>
        </div>
        <div class="output">
            <div class="mermaid" id="mermaid"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.8.1/mermaid.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>