<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/prism.min.css">
    <link rel="stylesheet" href="/static/prism-live.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Mermaid JS Viewer</title>
</head>
<body>
    <div class="container">
        <div class="inputs">
            <div id="resizer">
                >
            </div>
            <textarea id="codeInput" class="prism-live language-js prism-live-source" spellcheck="false" style="height: 98vh; outline: none; text-wrap: wrap;"></textarea>
        </div>
        <div class="output">
            <div id="buttonRow">
                <button id="download" onclick="downloadGraph()">
                    <i class="fas fa-download"></i>
                </button>
            </div>
            <div id="mermaid">Your mermaid diagram will appear here when you start typing!</div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.8.1/mermaid.min.js"></script>
    <script src="/static/prism.min.js"></script>
    <script src="/static/bliss.shy.min.js"></script>
    <script src="/static/prism-live.min.js"></script>
    <script src="/static/prism-live-javascript.min.js"></script>
    <script src="/static/app.js"></script>    
</body>
</html>